#main {
   background-color:#ffffff
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 1% 15%;
}

.openedCard {
    
    border-width: 7px;
}
