#main {
    /* background-color:#e68d27 */
    background-color:#ba4b34
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    
}

body {
    background-color:#684345;
}

.container-fluid {
    padding: 1% 15%;
}

.openedCard {
    background-color:#ba4b34;
    border-width: 7px;
}
